<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <label for="team_name">Team Name: </label>
  <input type="text" name="team[name]" id="team_name"><br>
  <label for="team_motto">Team Motto: </label>
  <input type="text" name="team[motto]" id="team_motto">

  <h2>Hero 1</h2>
  <label for="hero_name1">Hero's Name: </label>
  <input type="text" name="team[hero][][name]" id="hero_name1"><br>
  <label for="hero_power1">Hero' Power: </label>
  <input type="text" name="team[hero][][power]" id="hero_power1"><br>
  <label for="hero_bio1">Hero's Biography: </label>
  <input type="text" name="team[hero][][bio]" id="hero_bio1">

  <h2>Hero 2</h2>
  <label for="hero_name2">Hero's Name: </label>
  <input type="text" name="team[hero][][name]" id="hero_name2"><br>
  <label for="hero_power2">Hero' Power: </label>
  <input type="text" name="team[hero][][power]" id="hero_power2"><br>
  <label for="hero_bio2">Hero's Biography: </label>
  <input type="text" name="team[hero][][bio]" id="hero_bio2">

  <h2>Hero 3</h2>
  <label for="hero_name3">Hero's Name: </label>
  <input type="text" name="team[hero][][name]" id="hero_name3"><br>
  <label for="hero_power3">Hero' Power: </label>
  <input type="text" name="team[hero][][power]" id="hero_power3"><br>
  <label for="hero_bio3">Hero's Biography: </label>
  <input type="text" name="team[hero][][bio]" id="hero_bio3"></input>

  <input type="submit" value="Submit" id="Submit">

</form>
